p.title{
  font-size: 2rem;
  text-align: center;
}
p.subtitle{
  text-align: center;
}

.tile.is-child.notification.is-warning {
  background-color: #1da1f2;
  color: white;
}
.tile.is-child.notification.is-success {
  background-color: #1da1f2;
  color: white;
}

.tile.is-child.notification.is-primary {
background-color: #e8f5fd;
color: black;
}

.tile.is-child.notification.is-danger {
background-color: #e6ecf0;
color: black;
}
.tile.is-child.notification.is-info {
  background-color: white;
  color: #209cee;
}
div.tile.is-1 {
  text-align: center;
  font-size: 30px;
}
.container.content.has-text-centered {
  background-color: #e8f5fd;
  color: black;
}
footer.footer{
  background-color: #1da1f2;
}
#you-choose {
  margin: auto;
}
div.columns.is-mobile {
  background-color: #e8f5fd;
}
div#pic-A.column.tile.box{
  background-color: #209cee;
  color: white;
}
div#pic-B.column.tile.box{
  background-color: #209cee;
  color: white;
}
