p.title{
  font-size: 3rem;
  text-align: center;
}
p.subtitle{
  text-align: center;
}

.tile.is-child.notification.is-warning {
  background-color: #1da1f2;
  color: white;
}
.tile.is-child.notification.is-success {
  background-color: #1da1f2;
  color: white;
}

.tile.is-child.notification.is-primary {
background-color: #e8f5fd;
color: black;
}

.tile.is-child.notification.is-danger {
background-color: #e6ecf0;
color: black;
}
.tile.is-child.notification.is-info {
  background-color: white;
  color: #209cee;
}
